/*ESTUDIO LUZ CLARA*/

/*Variables y configuración*/
/*Una variable guarda un valor con un nombre para poder reutilizarlo

se declara dentro de :root, que representa el elemento html y es el ancestro de todos. todos los elementos lo puedne usar*/

:root {
    /*paleta de colores*/
    --color-tinta: #1a1a1a /*texto principal, casi negro*/ 
    --color-suave: #6b6b6b /*texto secundario, pies de foto*/ 
    --color-marca: #2c3e50 /*el azul del estudio*/ 
    --color-acento: #c87941 /*terracota de los botones*/ 
    --color-acento-osc: #a45f2e /*terracota oscuro*/ 
    --color-fondo: #fafaf8 /*blanco roto.no blanco puro*/ 
    --color-fondo-alt: #f0ee /*bordes y separadores*/ 
    --color-blanco: #ffffff /*blanco puro*/ 
}