/*css/estilos.css*/
/*Reset Basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*esta regla elimina los márgenes y el relleno predeterminados de todos los elementos y establece el modelo de caja para incluir el relleno y el borde en el ancho y alto total del elemento*/
}
body {
    font-family: Arial, sans-serif; color: #241350;
    background-color: #f5f5f5;
    /*esta regla define la fuente del texto en el cuerpo del documento*/
    } 
    h1{color: #1f4e79; font-size:32px; text-align:center;}
    